
body{
    border: 1px solid black;
    
}
h1{
    text-align:center;
}

#resume_image{
    width:150px;
    border: 1px solid grey;
    padding:3px;
    float: right;
    
}

#info{
    margin-top: 75px;  
    margin-left: 55px;  
    line-height: 4px;
    margin-bottom: 155px;
    
}

#p_name {
    font-size:38px;
    font-family: Arial;
    
}


#p_title {
    font-weight: bold;
    
}
h2{
    background-color: grey;
}

section{
    margin-left:35px;
    margin-right:35px;
}

.positions{

    font-size: 26px;
    font-weight:bold;
    margin-bottom:1px;
}

.experience{
    font-weight: lighter;
    font-size: 18px;
}

.companies{
    margin-left:15px;
    margin-top:1px;
    margin-bottom:1px;
}

.responsibilities{
    margin-left:15px;
    margin-top: 1px;
    font-size: 20px;
    font-weight:bold;
    text-decoration: underline;
}
.education{
    font-weight: bold;
}
